{{ define "main" }}
    <hgroup>
        <h1>{{ .Title }}</h1>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> | <em>Word Count: ~{{ .FuzzyWordCount }}</em> | <em>Time to read: ~{{ .ReadingTime }}m</em>
    </hgroup>
    <section class="toc">
        <h4>Table Of Contents</h4>
        {{ .TableOfContents }}
    </section>
  {{ .Content }}
{{ end }}
